In [2]:
import random,math,copy,time
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import (RandomForestClassifier,GradientBoostingClassifier)
from sklearn import tree
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split,cross_val_score
import matplotlib.pyplot as plt
from sklearn import preprocessing, svm
from tqdm import tqdm
import time

In [3]:
m=20  # Problem dimension (number of decision variables
Ap=0.1  # Awareness probability
fl=2   # Flight length (fl)
wf=1.2# wf is used to control the importance of classification accuracy and number of selected features.

In [7]:
df=pd.read_csv("AD-MCI.csv")

In [8]:
df = df.dropna(how='all')
df=df.drop(columns=['Unnamed: 0'])

In [9]:
df.head()

,label,0,1,2,3,4,5,6,7,8,...,67590,67591,67592,67593,67594,67595,67596,67597,67598,67599
0,0,55,56,57,57,57,57,56,55,56,...,59,59,59,59,59,59,60,59,58,57
1,0,255,255,255,255,255,255,254,253,254,...,255,255,255,255,255,255,255,255,255,255
2,0,255,255,255,255,255,255,254,253,254,...,255,255,255,255,255,255,255,255,255,255
3,0,255,255,255,255,255,255,254,253,254,...,255,255,255,255,255,255,255,255,255,255
4,0,255,255,255,255,255,255,254,253,254,...,255,255,255,255,255,255,255,255,255,255

In [4]:
val_Data = pd.read_csv("AD-MCI_val.csv")
val_Data.head()

,Unnamed: 0,label,0,1,2,3,4,5,6,7,...,67590,67591,67592,67593,67594,67595,67596,67597,67598,67599
0,0,0,255,255,255,255,255,255,254,253,...,255,255,255,255,255,255,255,255,255,255
1,1,0,255,255,255,255,255,255,254,253,...,255,255,255,255,255,255,255,255,255,255
2,2,0,255,255,255,255,255,255,254,253,...,255,255,255,255,255,255,255,255,255,255
3,3,0,255,255,255,255,255,255,254,253,...,255,255,255,255,255,255,255,255,255,255
4,4,0,255,255,255,255,255,255,254,253,...,255,255,255,255,255,255,255,255,255,255

In [5]:
val_Data = val_Data.dropna(how='all')
val_Data=val_Data.drop(columns=['Unnamed: 0'])
# df=df.reset_index().drop(columns='index')
val_Data.head()

,label,0,1,2,3,4,5,6,7,8,...,67590,67591,67592,67593,67594,67595,67596,67597,67598,67599
0,0,255,255,255,255,255,255,254,253,254,...,255,255,255,255,255,255,255,255,255,255
1,0,255,255,255,255,255,255,254,253,254,...,255,255,255,255,255,255,255,255,255,255
2,0,255,255,255,255,255,255,254,253,254,...,255,255,255,255,255,255,255,255,255,255
3,0,255,255,255,255,255,255,254,253,254,...,255,255,255,255,255,255,255,255,255,255
4,0,255,255,255,255,255,255,254,253,254,...,255,255,255,255,255,255,255,255,255,255

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1435 entries, 0 to 1434
Columns: 67601 entries, label to 67599
dtypes: int64(67601)
memory usage: 740.1 MB

In [ ]:
df

In [18]:
features=(df.columns)
features=features.delete(0)

In [12]:
d=67600# Flock (population) size
lt=67600
y_train=df['label']
x_train=df[df.columns[1:]]

In [13]:
y_test = val_Data['label']
x_test = val_Data[val_Data.columns[1:]]

In [ ]:
# x=preprocessing.normalize(x)
#x=pd.DataFrame(x, columns=features)

In [14]:
import time

In [1]:
#WITHOUT GRID SEARCH
print(time.time())

neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(x_train, y_train)
neigh.predict(x_test)
nacc=neigh.score(x_test,y_test)

print(time.time())

#
rforest = RandomForestClassifier(n_estimators=500)
rforest.fit(x_train, y_train)
rforest.predict(x_test)s
rfacc=rforest.score(x_test,y_test)

print(time.time())

#
dtree = tree.DecisionTreeClassifier(max_depth=30, min_samples_split=20)
dtree.fit(x_train, y_train)
dtree.predict(x_test)
dtacc=dtree.score(x_test,y_test)

print(time.time())

clf = svm.SVC()
clf.fit(x_train, y_train)
clf.predict(x_test)
clf=clf.score(x_test,y_test)
print(time.time())
print (nacc, rfacc, dtacc, clf)

# model=RandomForestClassifier()
# model.fit(x_train,y_train)
# im=(model.feature_importances_)
# im

NameError: name 'time' is not defined

In [16]:
im=(rforest.feature_importances_)
print(im)
print(im.shape,type(im))

[0. 0. 0. ... 0. 0. 0.]
(67600,) <class 'numpy.ndarray'>

In [ ]:
im_df=pd.DataFrame(im)

In [ ]:
im_df.to_csv('importance.csv')

In [19]:
features

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       ...
       '67590', '67591', '67592', '67593', '67594', '67595', '67596', '67597',
       '67598', '67599'],
      dtype='object', length=67600)

In [21]:
imo=pd.Series()
for i in tqdm(range(d)):
    imo= imo.set_value(features[i],im[i])

  0%|                                                                                        | 0/67600 [00:00<?, ?it/s]C:\Users\SONAL BANSAL\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  This is separate from the ipykernel package so we can avoid doing imports until
100%|████████████████████████████████████████████████████████████████████████████| 67600/67600 [20:17<00:00, 55.53it/s]

In [34]:
imo.to_csv('importance_feature_AD-MCI.csv',header=['importance'])
imo.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
dtype: float64

In [28]:
def init():   #initialization function
    df2=pd.DataFrame(np.ones((m,d),dtype='int'),columns=features)
    return df2
#df2=init()

In [30]:
# this defines the fitness of each crow by calculating their accuracy and no features selected using the below formula
def fitness(df2):      # fitness function whose 1 parameter takes the crows and their position as input
    fnt=np.zeros((m,1))  # fnt is the fitness function
    for k in tqdm(range(m)):    
        global sel
        sel=[]
        q=0
        imp=0
        a=(df2.iloc[k,:])==0.0
        if a.all()==True:
            df2.iloc[k,:]=1.0
        for p in list(features):
            if df2.loc[k,p]==1.0:
                sel.insert(q,p)
                temp=imo[p]
                imp=imp+temp
            q=q+1
        lf=len(sel)
        divide=lf/lt
        fnt[k]=imp+wf*(1-float(lf/lt))     # fitness formula
    return fnt

In [ ]:
z=init()   #crow memory with initial position
tmax=50   # Maximum number of iterations (itermax)
xn=z.copy()  # the position of the crow
mem=init()  # memory is initialized using the init function
xnew=(xn).copy()   # the positions of the crow
ft=fitness(xn)
plotit=[]

In [ ]:
tottime=0
s=pd.DataFrame(z)
print("got s")    # it is a formula to convert positions of each crow into 0 and 1 
for t in range(tmax):   # no of iterations
    time1=time.time()
    print(time1)
    plotit.insert(t,ft.max())
    num = random.randint(0,m-1)  
    print(num)# Generation of random candidate crows for following (chasing)
    for i in tqdm(range(m)):   
        print(i)
        r=random.random()
        if r>=Ap:
            print("in if")
            xnew.loc[i,:]= xn.loc[i,:]+fl*r*(mem.loc[num,:]-xn.loc[i,:])# Generation of a new position for crow i (state 1)
            print("if runn")
        else:
            print(" in else")
            xnew.loc[i,:]=xnew.loc[i,:].apply(lambda lam:random.random())   # Generation of a new position for crow i (state 2)
            print("else run")
    xnew= 1/( 1 + np.expm1(( 10*(xnew-0.5 ) ) ))    #  formula to convert positions of each crow into 0 and 1
    xnew=xnew.apply(lambda l:l>=random.random()).astype(int)

    xn=xnew.copy()          # it is the updated binary position of each crow
    #feasibility test
    # this is done so that to check if atleast one position of the crow has value equal to 1. if it is not true then every
    # position value of the crow is made 1.
    for i in tqdm(range(m)):
        a=(xn.loc[i,:])==0.0
        if a.all()==True:
            xn.loc[i,:]=1.0
    ft_new=fitness(xn)
    
    for i in tqdm(range(m)):
        
        if ft_new[i]>ft[i]:
            ft[i]=ft_new[i]
            for j in list(features):
                mem.loc[i,j]=xn.loc[i,j]
    time2=time.time()
    tottime=tottime+(time2-time1)
print(tottime/50)

In [ ]:
# here the accuracy of each crows are calculated.
neigh = KNeighborsClassifier(n_neighbors=3)
rforest = RandomForestClassifier()
dtree = tree.DecisionTreeClassifier()
clf = svm.SVC()

nacc1=np.zeros((m,1),dtype='float64')
rfacc1=np.zeros((m,1),dtype='float64')
dtacc1=np.zeros((m,1),dtype='float64')
clf1=np.zeros((m,1),dtype='float64')

q=0
for i in tqdm(range(m)):
    print(i)
    select=[]
    for p in list(features):
        if mem.loc[i,p]==1:
            select.insert(q,p)
            q=q+1
    neigh.fit(x_train[select], y_train)
    neigh.predict(x_test[select])
    nacc1[i]=neigh.score(x_test[select],y_test) 

    
    rforest.fit(x_train[select], y_train)
    rforest.predict(x_test[select])
    rfacc1[i]=rforest.score(x_test[select],y_test) 

    dtree.fit(x_train[select], y_train)
    dtree.predict(x_test[select])
    dtacc1[i]=dtree.score(x_test[select],y_test)



print (nacc1.max(), rfacc1.max(), dtacc1.max()) # the crow with maximum accuracy is printed

In [ ]:
print ((mem.loc[nacc1.argmax(),:]==1.0).sum())

print ((mem.loc[rfacc1.argmax(),:]==1.0).sum())
print ((mem.loc[dtacc1.argmax(),:]==1.0).sum())

In [ ]:
plotse=pd.Series(plotit)
print(plotit)

In [ ]:
plt.plot(plotse)
plt.xlabel('No of iterations')
plt.ylabel('Fitness value')
plt.show()