In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
from tqdm import tqdm

In [35]:
li_main = [i for i in range(0,67600)]

In [36]:
li_main.insert(0,'label')

In [13]:
f=open('AD-MCI.csv','a')
writer = csv.writer(f)
writer.writerow(li_main)
for folder in os.listdir("../../data/train"):
    for items in tqdm(os.listdir("../../data/train/" + folder)):
        li = []
        if folder == 'AD' :
              li.append(0)
        elif folder == 'MCI' :
              li.append(1)
        elif folder == 'CN' :
            break
        img = plt.imread("../../data/train/" + folder + '/' + items)       
        li.extend(list(img.flatten()))
        writer.writerow(li)

100%|████████████████████████████████████████████████████████████████████████████████| 464/464 [01:01<00:00,  7.60it/s]
  0%|                                                                                          | 0/751 [00:00<?, ?it/s]
100%|████████████████████████████████████████████████████████████████████████████████| 971/971 [02:18<00:00,  7.00it/s]

In [14]:
f.flush()
f.close()

In [40]:
data=pd.read_csv('AD-MCI.csv')
data.head()

,label,0,1,2,3,4,5,6,7,8,...,67590,67591,67592,67593,67594,67595,67596,67597,67598,67599
0,0,55,56,57,57,57,57,56,55,56,...,59,59,59,59,59,59,60,59,58,57
1,0,255,255,255,255,255,255,254,253,254,...,255,255,255,255,255,255,255,255,255,255
2,0,255,255,255,255,255,255,254,253,254,...,255,255,255,255,255,255,255,255,255,255
3,0,255,255,255,255,255,255,254,253,254,...,255,255,255,255,255,255,255,255,255,255
4,0,255,255,255,255,255,255,254,253,254,...,255,255,255,255,255,255,255,255,255,255

In [9]:
len(data[data['label']==0])

464

In [13]:
f=open('AD-MCI_val.csv','a')
writer = csv.writer(f)
writer.writerow(li_main)
for folder in os.listdir("../../data/val"):
    for items in tqdm(os.listdir("../../data/val/" + folder)):
        li = []
        if folder == 'AD' :
              li.append(0)
        elif folder == 'MCI' :
              li.append(1)
        elif folder == 'CN' :
            break
        img = plt.imread("../../data/val/" + folder + '/' + items)       
        li.extend(list(img.flatten()))
        writer.writerow(li)
f.flush()
f.close()

100%|██████████████████████████████████████████████████████████████████████████████████| 80/80 [00:14<00:00,  5.49it/s]
  0%|                                                                                          | 0/236 [00:00<?, ?it/s]
100%|████████████████████████████████████████████████████████████████████████████████| 295/295 [00:51<00:00,  5.71it/s]

In [39]:
data_val=pd.read_csv('AD-MCI_val.csv')
data_val.head()

,label,0,1,2,3,4,5,6,7,8,...,67590,67591,67592,67593,67594,67595,67596,67597,67598,67599
0,0,255,255,255,255,255,255,254,253,254,...,255,255,255,255,255,255,255,255,255,255
1,0,255,255,255,255,255,255,254,253,254,...,255,255,255,255,255,255,255,255,255,255
2,0,255,255,255,255,255,255,254,253,254,...,255,255,255,255,255,255,255,255,255,255
3,0,255,255,255,255,255,255,254,253,254,...,255,255,255,255,255,255,255,255,255,255
4,0,255,255,255,255,255,255,254,253,254,...,255,255,255,255,255,255,255,255,255,255