In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
from tqdm import tqdm

In [4]:
li_main = [i for i in range(0,67600)]

In [5]:
li_main.insert(0,'label')

In [6]:
f=open('MCI-CN.csv','a')
writer = csv.writer(f)
writer.writerow(li_main)

for folder in os.listdir("../../../data/train"):
    for items in tqdm(os.listdir("../../../data/train/" + folder)):
        li = []
        if folder == 'AD' :
              #li.append(0)
            break
        elif folder == 'MCI' :
            li.append(1)
        elif folder == 'CN' :
            li.append(2)
        img = plt.imread("../../../data/train/" + folder + '/' + items)       
        li.extend(list(img.flatten()))
        writer.writerow(li)
        
f.flush()
f.close()

  0%|                                                                                          | 0/464 [00:00<?, ?it/s]
100%|████████████████████████████████████████████████████████████████████████████████| 751/751 [01:44<00:00,  7.20it/s]
100%|████████████████████████████████████████████████████████████████████████████████| 971/971 [02:02<00:00,  7.94it/s]

In [6]:
data=pd.read_csv('MCI-CN.csv')
data.head()

C:\Users\SONAL BANSAL\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,label,0,1,2,3,4,5,6,7,8,...,67590,67591,67592,67593,67594,67595,67596,67597,67598,67599
0,label,0,1,2,3,4,5,6,7,8,...,67590,67591,67592,67593,67594,67595,67596,67597,67598,67599
1,2,255,255,255,255,255,255,254,253,254,...,255,255,255,255,255,255,255,255,255,255
2,2,255,255,255,255,255,255,254,253,254,...,255,255,255,255,255,255,255,255,255,255
3,2,255,255,255,255,255,255,254,253,254,...,255,255,255,255,255,255,255,255,255,255
4,2,255,255,255,255,255,255,254,253,254,...,255,255,255,255,255,255,255,255,255,255

In [7]:
len(data[data['label']==0])

0

In [8]:
f=open('MCI-CN_val.csv','a')
writer = csv.writer(f)
writer.writerow(li_main)
for folder in os.listdir("../../../data/val"):
    for items in tqdm(os.listdir("../../../data/val/" + folder)):
        li = []
        if folder == 'AD' :
              #li.append(0)
            break
        elif folder == 'MCI' :
            li.append(1)
        elif folder == 'CN' :
            li.append(2)
        img = plt.imread("../../../data/val/" + folder + '/' + items)       
        li.extend(list(img.flatten()))
        writer.writerow(li)
f.flush()
f.close()

  0%|                                                                                           | 0/80 [00:00<?, ?it/s]
100%|████████████████████████████████████████████████████████████████████████████████| 236/236 [00:46<00:00,  5.04it/s]
100%|████████████████████████████████████████████████████████████████████████████████| 295/295 [00:57<00:00,  5.10it/s]

In [3]:
data_val=pd.read_csv('MCI-CN_val.csv')
data_val.head()

,label,0,1,2,3,4,5,6,7,8,...,67590,67591,67592,67593,67594,67595,67596,67597,67598,67599
0,2,255,255,255,255,255,255,254,253,254,...,255,255,255,255,255,255,255,255,255,255
1,2,255,255,255,255,255,255,254,253,254,...,255,255,255,255,255,255,255,255,255,255
2,2,255,255,255,255,255,255,254,253,254,...,255,255,255,255,255,255,255,255,255,255
3,2,255,255,255,255,255,255,254,253,254,...,255,255,255,255,255,255,255,255,255,255
4,2,255,255,255,255,255,255,254,253,254,...,255,255,255,255,255,255,255,255,255,255